
    body{
        background-color: whitesmoke;
    }
    h1{
        color: PowderBlue;
        font-family: "Garamond";
        font-size: 25px;
    }
    
    h2{
        color: paleturquoise;
        font-family: "Garamond";
        font-size: 15px;
    }
    h3{
        color: lightblue;
        font-family: "Garamond";
        font-size: 20px;
    }
    h4{
        color: PowderBlue;
        font-famiy: "Courier New"; 
        font-size: 15px; 
      
