
    body{
        background-color: whitesmoke;
    }
 p.light {
  font-weight: lighter;
  font-family: "Courier New";
  font-size: 10px;
}
    h1{
        color: lightblue;
        font-weight: 900;
        font-family: "Garamond";
        font-size: 15px;
    }
    
    h2{
        color: paleturquoise;
    }
p.thick {
  font-weight: bold;
  font-family: "Garamond";
  font-size: 12px;
  
}

p.thicker {
  font-weight: 900;
  font-family: "Garamond";
  font-size: 15px;
      
